<!--================ Start Subscribe Area =================-->
<div class="container" name = "contactus" id= "contactus" >
    <div class="subscribe_area">
        <div class="row" >
            <div class="col-lg-12">
                <div class="d-flex align-items-center">
                    <h1 class="text-white">Do you have a question?</h1>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="#" method="get" class="subscribe_form relative">
                            <div class="input-group d-flex flex-row">
                                <br>
                                <input name="EMAIL" placeholder="Your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">

                            <button class="ml-10 primary_btn yellow_btn btn sub-btn rounded">SUBSCRIBE</button>
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Subscribe Area =================-->

<!--================ Start footer Area  =================-->
<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title large_title">Our Mission</h4>
                        <p style="color:gray;">
                            We are an international non-profit organisation that believes investing in students who take ENTrepreneurial ACTion for uplifting a part of a society, hence, creating a better world for US all.
                        </p>

                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Quick Links</h4>
                        <ul class="list">
                            <li><a href="/">Home</a></li>
                            <li><a href="/aboutus">About</a></li>
                            <li><a href="/projects">Projects</a></li>
                            <li><a href="/events">Events</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h4 class="footer_title">Gallery</h6>
                        <ul class="list instafeed d-flex flex-wrap">
                            <li><img style = "width: 65px;height: 65px;"src="images/event/al/1.jpg" alt=""></li>
                            <li><img style = "width: 65px;height: 65px;"src="images/event/X/1.jpg" alt=""></li>
                            <li><img style = "width: 65px;height: 65px;"src="images/event/Malar/1.jpg" alt=""></li>
                            <li><img style = "width: 65px;height: 65px;"src="images/event/Naari/21.jpg" alt=""></li>
                            <li><img style = "width: 65px;height: 65px;"src="images/event/trad/1.jpg" alt=""></li>
                            <li><img style = "width: 65px;height: 65px;"src="images/event/ujwal/1.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Contact Us</h4>
                        <div class="ml-40" style="color:white;">
                            <p class="sm-head">
                                <span class="fa fa-location-arrow"></span>
                                Head Office
                            </p>
                            <p>VIT CHENNAI, VANDALUR KELAMBAKKAM ROAD ,CHENNAI 600048</p>
                            <p class="sm-head">
                                <span class="fa fa-map-marker"></span>
                                Location
                            </p>
                            <p>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d22005.255216081747!2d80.15855135358082!3d12.842223341738976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sVIT+UNIVERSITY+CHENNAI!5e0!3m2!1sen!2sin!4v1553839559576!5m2!1sen!2sin" width="200" height="100" frameborder="0" style="border:0" allowfullscreen></iframe>

                            </p>
                            <p class="sm-head">
                                <span class="fa fa-phone"></span>
                                Phone Number
                            </p>
                            <p>
                                Faculty (Prof. R. Radha):<br><a href="tel:7397261597"> <font color="white"> 7397261597</font></a> <br>
                                Team:<br> <a href="tel:8051010354"><font color="white"> 8051010354</font></a>
                            </p>

                            <p class="sm-head">
                                <span class="fa fa-envelope"></span>
                                Email
                            </p>
                            <p>
                                  <a href="mailto:enactus.vitc@gmail.com">  enactus.vitc@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex">
                <p class="col-lg-12 footer-text text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
