<style type="text/css">
  .logo_h > img {
    height: 90px !important;
    width: auto !important;
  }
  .header_area {
    border-bottom: 5px solid;
    border-bottom-color: #ffc500;
    background-color: #ffffffe0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
  }
  .header_area .container {
    padding: 0px 8px;
  }
  .header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
  }
  .header_area .navbar .nav .nav-item {
    margin-right: 45px;
  }
  .header_area .navbar .nav .nav-item .nav-link {
    color: #777777;
    font-size: 13px;
    font-family: "Lucida Handwriting";
    font-weight: 800;
    line-height: 80px;
    text-transform: uppercase;
    padding: 0px;
    display: inline-block;
  }
  .header_area .navbar .nav .nav-item .nav-link:after {
    display: none;
  }
  .header_area .navbar .nav .nav-item:hover .nav-link,
  .header_area .navbar .nav .nav-item.active .nav-link {
    color: #fec300;
  }
  .header_area .navbar .nav .nav-item.submenu {
    position: relative;
  }
  .header_area .navbar .nav .nav-item.submenu ul {
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    background: #fff;
  }
  @media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu ul {
      position: absolute;
      top: 120%;
      left: 0px;
      min-width: 200px;
      text-align: left;
      opacity: 0;
      transition: all 300ms ease-in;
      visibility: hidden;
      display: block;
      border: none;
      padding: 0px;
      border-radius: 0px;
      box-shadow: 0px 5px 10px rgba(221, 221, 221, 0.2);
    }
  }
  .header_area .navbar .nav .nav-item.submenu ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #eeeeee transparent transparent transparent;
    position: absolute;
    right: 24px;
    top: 45px;
    z-index: 3;
    opacity: 0;
    transition: all 400ms linear;
  }
  .header_area .navbar .nav .nav-item.submenu ul .nav-item {
    display: block;
    float: none;
    margin-right: 0px;
    border-bottom: 1px solid #ededed;
    margin-left: 0px;
    transition: all 0.4s linear;
  }
  .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    line-height: 45px;
    color: #222222;
    padding: 0px 30px;
    transition: all 150ms linear;
    display: block;
    margin-right: 0px;
    text-transform: capitalize;
  }
  .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
    border-bottom: none;
  }
  .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
    background: #60bc0f;
    color: #fff;
  }
  @media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu:hover ul {
      visibility: visible;
      opacity: 1;
      top: 100%;
    }
  }
  .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
    margin-top: 0px;
  }
  .header_area .navbar .nav .nav-item:last-child {
    margin-right: 0px;
  }
  .header_area.navbar_fixed .main_menu {
    border-bottom: solid 5px #fec300;
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #222222;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  }
  .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 70px;
  }
</style>
<header class="header_area">
    <div class="main_menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/"><img  src="/img/logo2.png"alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li id="H1" class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li id="A1" class="nav-item"><a class="nav-link" href="/about">About</a></li>
                            <li id="P1" class="nav-item"><a class="nav-link" href="/projects">Projects</a>
                            <li id="E1" class="nav-item"><a class="nav-link" href="/events">Events</a>
                            <li id="G1" class="nav-item"><a class="nav-link" href="/gallery">Gallery</a>
                            <li class="nav-item"><a class="nav-link" href="#contactus">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<script>
var a=<%= l %>;
var g=["H1","A1","P1","E1","G1"];
var d=document.getElementById(g[a]).getAttribute("class")+" "+"active";
document.getElementById(g[a]).setAttribute("class",d);

</script>
