<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#fec300" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#fec300" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#fec300" />
    <title>About Us</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/vendors/linericon/style.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css" />
    <!-- <link rel="stylesheet" href="/css/gallery.css" /> -->

    <link rel="stylesheet" type="text/css" href="/semantic.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <style></style>
  </head>
  <body>
    <%include frontpart/navbar%>

    <section class="home_banner_area">
      <div
        class="banner_inner"
        data-slides='["/img/banner/ban11.jpg","/img/banner/ban12.jpg","/img/banner/ban13.jpg"]'
      >
        <div class="container">
          <div class="banner_content">
            <p class="upper_text">Give a hand</p>
            <h2>to make the better world</h2>
            <p>
              That don't lights. Blessed land spirit creature divide our made
              two itself upon you'll dominion waters man second good you they're
              divided upon winged were replenish night
            </p>
            <a class="primary_btn mr-20" href="#">Donate Now</a>
            <a class="primary_btn yellow_btn text-white" href="#">See Causes</a>
          </div>
        </div>
      </div>
    </section>
    <br /><br />
    <center> <h2>Gallery</h2> </center>
    <br/>
<div class="h-100 container row col-md-auto col-sm-auto">
 
    <div class="col-md-4 ">
      <div class="card h-100">
        <iframe
          src="https://albumizr.com/a/nDKj"
          scrolling="no"
          frameborder="0"
          allowfullscreen
          autoStart
          class="card-img-top h-100"
        ></iframe>

        <div class="card-body">
          <h5 class="card-title border-bottom pb-3">
           <center> Project Malar </center>
           
         </h5>
        <a href="/projects" class="btn btn-sm btn-info float-right"
            >Read more</i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-md-4 " >
        <div class="card h-100">
          <iframe
            src="https://albumizr.com/a/m5j4"
            scrolling="yes"
            frameborder="1s"
            allowfullscreen
            class="card-img-top h-100"
            
          ></iframe>
  
          <div class="card-body ">
            <h5 class="card-title border-bottom pb-3">
             <center> Project Naari </center>
             
            </h5>
            <p class="card-text">
             
            </p>
            <a href="/projects" class="btn btn-sm btn-info float-right"
              >Read more</i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="card h-100">
            <iframe
              src="https://albumizr.com/a/tM2e"
              scrolling="no"
              frameborder="1s"
              allowfullscreen
              class="card-img-top  h-100"
            ></iframe>
    
            <div class="card-body">
              <h5 class="card-title border-bottom pb-3">
               <center> Project Ujwal </center>
               
              </h5>
              <p class="card-text">
               
              </p>
              <a href="/projects" class="btn btn-sm btn-info float-right"
                >Read more</i
              ></a>
            </div>
          </div>
        </div>
       
</div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <%include frontpart/footer%>
    <!-- <script src="/js/jquery-3.2.1.min.js"></script> -->
    <script src="/js/popper.js"></script>
    <!-- <script src="/js/bootstrap.min.js"></script> -->
    <!-- <script src="/js/stellar.js"></script> -->
    <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <!-- <script src="/js/jquery.ajaxchimp.min.js"></script> -->
    <!-- <script src="/js/mail-script.js"></script> -->
    <!-- <script src="/js/countdown.js"></script> -->

    <script>
      $(".special.cards .image").dimmer({
        on: "hover"
      });
      $(document).ready(function() {
        <%for(var i =0; i<projects.length; i++){%>
        $("#modalButton<%=i+1%>").click(function() {
          $(".<%=projects[i].id%>").modal("show");
        });
        <%}%>
      });
    </script>
    <script>
      (function($) {
        "use strict";
        var $slides = $("[data-slides]");
        var images = $slides.data("slides");
        var count = images.length;
        var slideshow = function() {
          $slides
            .css(
              "background-image",
              'url("' + images[Math.floor(Math.random() * count)] + '")'
            )
            .show(0, function() {
              setTimeout(slideshow, 3000);
            });
        };
        slideshow();
      })(jQuery);
    </script>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="/semantic.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  </body>
</html>
