<header class="header_area">
    <div class="main_menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/"><img  src="/img/logo2.png" height="120px" width="180px" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li id="H1" class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li id="A1" class="nav-item"><a class="nav-link" href="/about">About</a></li>
                            <li id="P1" class="nav-item"><a class="nav-link" href="/projects">Projects</a>
                            <li id="E1" class="nav-item"><a class="nav-link" href="/events">Events</a>
                            <li id="G1" class="nav-item"><a class="nav-link" href="/gallery">Gallery</a>
                            <li class="nav-item"><a class="nav-link" href="#contactus">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<script>
var a=<%= l %>;
var g=["H1","A1","P1","E1","G1"];
var d=document.getElementById(g[a]).getAttribute("class")+" "+"active";
document.getElementById(g[a]).setAttribute("class",d);

</script>
