<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Events</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400%7CSource+Sans+Pro:700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css3/bootstrap.min.css" />

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="/css3/font-awesome.min.css" />

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="/css3/elegant-fonts.css" />

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="/css3/themify-icons.css" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/css3/swiper.min.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="/css3/style.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/vendors/linericon/style.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <% include frontpart/navbar %>
    <section
      class="home_banner_area"
      data-slides='["/img/banner/ban11.jpg","/img/banner/ban12.jpg","/img/banner/ban13.jpg"]'
    >
      <div class="banner_inner">
        <div class="container">
          <div class="banner_content">
            <h2>Projects</h2>

            <a class="primary_btn mr-20" href="#">Donate Now</a>
            <a class="primary_btn yellow_btn text-white" href="#">See Causes</a>
          </div>
        </div>
      </div>
    </section>
    <div class="featured-cause">

      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="cause-wrap d-flex flex-wrap justify-content-between">
              <figure class="m-0">
                <img src="/images/event/Malar/1.jpg" alt="" />
              </figure>

              <div class="cause-content-wrap">
                <header
                  class="entry-header d-flex flex-wrap align-items-center"
                >
                  <h3 class="entry-title w-100 m-0">
                    <a href="#">Project Malar</a>
                  </h3>

                  <div class="posted-date">
                    <a href="#">Aug 25, 2018 </a>
                  </div>
                  <!-- .posted-date -->

                  <div class="cats-links">
                    <a href="#">Ball Room New York</a>
                  </div>
                  <!-- .cats-links -->
                </header>
                <!-- .entry-header -->

                <div class="entry-content">
                  <p class="m-0">
                    The primary objective of T.R.A.D was to spread awareness
                    about the staggering number of road accidents happening in
                    our nation and make people realise the difference simple
                    changes in habits can bring about.
                  </p>
                </div>
                <!-- .entry-content -->

                <div class="entry-footer mt-5">
                  <a href="/projects/0" class="btn gradient-bg mr-2"
                    >Learn More</a
                  >
                </div>
                <!-- .entry-footer -->
              </div>
              <!-- .cause-content-wrap -->
            </div>
            <!-- .cause-wrap -->
          </div>
          <!-- .col -->
          
          <div class="col-12 col-lg-6" data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine">
            <div class="cause-wrap d-flex flex-wrap justify-content-between">
              <figure class="m-0">
                <img src="/images/event/X/1.jpg" alt="" />
              </figure>

              <div class="cause-content-wrap">
                <header
                  class="entry-header d-flex flex-wrap align-items-center"
                >
                  <h3 class="entry-title w-100 m-0">
                    <a href="#">Project X</a>
                  </h3>

                  <div class="posted-date">
                    <a href="#">Aug 25, 2018 </a>
                  </div>
                  <!-- .posted-date -->

                  <div class="cats-links">
                    <a href="#">Ball Room New York</a>
                  </div>
                  <!-- .cats-links -->
                </header>
                <!-- .entry-header -->

                <div class="entry-content">
                  <p class="m-0">
                    The basic objective of putting up a stall was to provide a
                    market for the items made by the residents of the Padur
                    slum. All the profits earned were given to them as salary
                    for their hard work and dedication. The goal of setting up
                    this stall during Diwali was simply so that their lives
                    light up and they can buy a few more commodities that they
                    will bring a smile to their faces.
                  </p>
                </div>
                <!-- .entry-content -->

                <div class="entry-footer mt-5">
                  <a href="projects/1" class="btn gradient-bg mr-2"
                    >Learn More</a
                  >
                </div>
                <!-- .entry-footer -->
              </div>
              <!-- .cause-content-wrap -->
            </div>
            <!-- .cause-wrap -->
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->

        <div class="row">
          <div class="col-12 col-lg-6" data-aos="fade-left"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine">
            <div class="cause-wrap d-flex flex-wrap justify-content-between">
              <figure class="m-0">
                <img src="/images/event/Naari/20.jpg" alt="" />
              </figure>

              <div class="cause-content-wrap">
                <header
                  class="entry-header d-flex flex-wrap align-items-center"
                >
                  <h3 class="entry-title w-100 m-0">
                    <a href="#">Project Naari</a>
                  </h3>

                  <div class="posted-date">
                    <a href="#">Aug 25, 2018 </a>
                  </div>
                  <!-- .posted-date -->

                  <div class="cats-links">
                    <a href="#">Ball Room New York</a>
                  </div>
                  <!-- .cats-links -->
                </header>
                <!-- .entry-header -->

                <div class="entry-content">
                  <p class="m-0">
                    Naari Description
                  </p>
                </div>
                <!-- .entry-content -->

                <div class="entry-footer mt-5">
                  <a href="projects/1" class="btn gradient-bg mr-2"
                    >Learn More</a
                  >
                </div>
                <!-- .entry-footer -->
              </div>
              <!-- .cause-content-wrap -->
            </div>
            <!-- .cause-wrap -->
          </div>
          <!-- .col -->
        </div>

        <div class="row proj-heading mt-4">
          <div class="col-12 col-lg-6">
            Past Projects
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="cause-wrap d-flex flex-wrap justify-content-between">
              <figure class="m-0">
                <img src="/images/event/al/1.jpg" alt="" />
              </figure>

              <div class="cause-content-wrap">
                <header
                  class="entry-header d-flex flex-wrap align-items-center"
                >
                  <h3 class="entry-title w-100 m-0">
                    <a href="#">Project Pragati</a>
                  </h3>

                  <div class="posted-date">
                    <a href="#">Aug 25, 2018 </a>
                  </div>
                  <!-- .posted-date -->

                  <div class="cats-links">
                    <a href="#">Ball Room New York</a>
                  </div>
                  <!-- .cats-links -->
                </header>
                <!-- .entry-header -->

                <div class="entry-content">
                  <p class="m-0">
                    Our primary motive would be to target the Algal Biomass
                    cultivation and its demand in the market. This idea
                    progressed when Enactus, VITC got in touch with ABAN
                    Informatics. Dr. Senthil Chinnasamy of the Biotechnology
                    Division.
                  </p>
                </div>
                <!-- .entry-content -->

                <div class="entry-footer mt-5">
                  <a href="projects/2" class="btn gradient-bg mr-2"
                    >Learn More</a
                  >
                </div>
                <!-- .entry-footer -->
              </div>
              <!-- .cause-content-wrap -->
            </div>
            <!-- .cause-wrap -->
          </div>
          <!-- .col -->
        </div>
      </div>
      <!-- .container -->
    </div>
    <!-- .featured-cause -->

    <br /><br />

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/stellar.js"></script>
    <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>

    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="/js/gmaps.min.js"></script>
    <script src="/js/theme.js"></script>

    <script type="text/javascript" src="js3/jquery.js"></script>
    <script type="text/javascript" src="js3/jquery.collapsible.min.js"></script>
    <script type="text/javascript" src="js3/swiper.min.js"></script>
    <script type="text/javascript" src="js3/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js3/circle-progress.min.js"></script>
    <script type="text/javascript" src="js3/jquery.countTo.min.js"></script>
    <script type="text/javascript" src="js3/jquery.barfiller.js"></script>
    <script type="text/javascript" src="js3/custom.js"></script>

    <% include frontpart/footer %>
  </body>
</html>
